[Unit]
Description = Create BTRFS snapshots

[Timer]
OnCalendar = daily
RandomizedDelaySec = 30m
Persistent = true

[Install]
WantedBy = timers.target
