[Desktop Entry]
Type=Application
Name=Cursor
Comment=The AI Code Editor
Categories=Development;TextEditor;IDE;
Icon=/opt/cursor/co.anysphere.cursor.png
Exec=/opt/cursor/AppRun %F
MimeType=application/x-cursor-workspace;
Terminal=false
StartupNotify=true
StartupWMClass=Cursor
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Icon=/opt/cursor/co.anysphere.cursor.png
Exec=/opt/cursor/AppRun --new-window %F
